@import "./core/_variables";
@import "./core/_reset";
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@600&display=swap");

.header {
  &__container {
    position: relative;
    height: 100vh;
    background-image: url("../images/landing-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  &__title {
    font-size: 3.25em;
    text-align: center;
    padding-top: 4.5rem;
  }
  &__bar-container {
    position: absolute;
    top: 100vh;
    width: 100%;
    height: 1rem;
    display: flex;
    flex-flow: row nowrap;
  }
  &__bar-grey {
    width: 50vw;
    background-color: $marengo;
    height: 1rem;
  }
  &__bar-red {
    width: 50vw;
    background-color: $red;
    height: 1rem;
  }
}

.div-iframe {
  display: block;
  width: 35%;
}
.header__container-iframe {
  margin-bottom: 5rem;
  border: 1rem solid black;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.iframe {
  width: 100%;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.main {
  &__container {
    background-color: $black;
    padding-top: 4rem;
    padding-bottom: 3rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  &__title {
    font-size: 2.5em;
    padding-bottom: 3rem;
    width: 100%;
    text-align: center;
  }
}
